#mapa{
    align-items: center;
    width: 70%;
    height: 70vh;
    border:0;
    
}

#transparentCard{
    background-color: rgba(37, 37, 37, 0.50); 
}

.centered-button2 {
    position: relative;
    background-color: rgb(68, 112, 45) !important;
    color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255);

}

.centered-button2:hover{
    background-color: #000000 !important;
    color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

@media only screen and (max-width: 600px){
    #mapa{
        align-items: center;
        width: 100%;
        height: 30vh;
        border:0;
        
    }
}

